<div id="error" class="notice">Oops -- something went wrong on our end!<br> Try reloading the page, or <a href="/">heading to the home page</a>. Sorry!</div>

<p>We've been notified of the error and we'll get to fixing it as quickly as possible!</p>

<%= erb :error_plug, :layout => false %>
