<p>Prey Fetcher is a <em>free <span class="ampersand">&amp;</span> <a href="http://github.com/tofumatt/Prey-Fetcher">open source</a></em> service that <strong>instantly</strong> pushes new <em class="underline">mentions</em> <span class="ampersand">&amp;</span> <em class="underline"><abbr title="Direct Messages">DMs</abbr></em> to iOS devices (iPhone, iPod Touch, and iPad).</p>

<p>Prey Fetcher is written in <a href="http://www.ruby-lang.org/">Ruby</a>, chiefly using the <a href="http://www.sinatrarb.com/">Sinatra web framework</a> for the front-end and <a href="http://rubyeventmachine.com/">EventMachine</a> for the backend streaming service.</p>

<h2>What does Prey Fetcher do?</h2>

<p>Prey Fetcher connects to realtime data provided by <a href="http://twitter.com">Twitter</a> to notify you of new mentions, retweets, and direct messages. Prey Fetcher also lets you know whenever a new tweet appears in a list you create. You can use any of these features in any combination you like, all for free.</p>

<h2>Why Is Prey Fetcher Free?</h2>

<p>Because <a href="http://lonelyvegan.com">Matt</a> really wanted to get notified of new tweets on his iPhone. He figured he might as well make it free for anyone in the same boat.</p>

<p>Prey Fetcher has been around since August 2009 — and it shouldn't be going anywhere as long as tweets still need to make it to people's iPhones.</p>
