<p>Interesting info about your Prey Fetcher account:</p>

<h3>Notifications Sent To You</h3>

<dl>
	<dt>Total</dt>
	<dd><%= number_format(@user.notifications.count) %></dd>
	<dt>Past 30 days</dt>
	<dd><%= number_format(@user.notifications.this_month) %></dd>
</dl>

<h3 class="clear">Delete Your Prey Fetcher Account</h3>
<form action="/account" method="POST" class="clear">
	<div>
		<p>Note that deleting your account will not remove Prey Fetcher from your <a href="http://twitter.com/account/connections">Connections pane</a> on Twitter. You can alternatively revoke access for Prey Fetcher from the <a href="http://twitter.com/account/connections">Connections pane</a> on Twitter and your Prey Fetcher account will be automatically deleted.</p>
		
		<p>Either way, deleting your account will mean no more Prey Fetcher notifications. You can sign up again if you change your mind.</p>
		
 		<label for="delete_account" class="hide">Remove Your Prey Fetcher Account</label>
		<input type="submit" id="delete_account" class="submit" name="commit" value="Delete my account">
	</div>
	<div class="block clear space"></div>
</form>
