$body_background_colour: #aaa
$background_colour: #999999
$text_colour: #030303
$link_colour: #2e6299

$border_colour: #030303
$header_colour: #712121
$menu_colour: #444

$error_colour: #f2a2a2
$alert_colour: #f2d7a2
$notice_colour: #a8f2a2

$preyf_colour: #7a1515

// Remember to add http://static.preyfetcher.com to url()s come release time!

body
  background: $body_background_colour url(/images/page-bg.png) repeat-x top
  color: $text_colour
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif
  font-size: 1em

a
  color: $link_colour
  text-decoration: underline
  text-shadow: none
  &:hover, &:focus
    color: $link_colour + #222222
    text-decoration: none
    text-shadow: $background_colour + #222222 1px 1px 6px

strong
  font-weight: bold

em
  font-style: italic
  &.underline
    border-bottom: 1px dashed
    font-style: normal
    text-decoration: none

span.ampersand
  font-family: "Kunstler Script", "Lucida Calligraphy", "Lucida Handwriting", cursive
  font-size: 1.2em
  font-style: italic

h2, h3, h4, h5, h6
  border-bottom: $border_colour 1px solid
  color: $header_colour
  font-family: Helvetica, Arial, sans-serif
  font-size: 1.5em
  margin: 0 0 0.5em
  text-shadow: $background_colour 0 0 5px

h2
  font-size: 1.75em

h3, h4, h5, h6
  margin: 0.75em 0
  span.numbered-header
    color: $text_colour
    font-size: 0.8em

p, ul, ol, dl, label, input, table
  line-height: 1.3em
  margin: 0.25em 160px 1.5em 24px

ul
  margin-left: 48px
  margin-top: -0.25em

li
  list-style: square inside
  margin: 0

dt
  clear: both
  float: left
  font-weight: bold
  margin: 0 1em 0 0
  width: 150px

#intro-list
  margin-top: -5px
  li
    margin-top: 0.25em
    span
      display: block
      margin: 2px 0 0 0.9em

.no-bullet
  list-style: none outside !important

.block
  display: block

.clear
  clear: both

.hide, body.js .js-hide
  display: none

ul.smaller
  margin-top: -0.75em

.smaller
  font-size: 0.9em

.space
  padding: 12px 0 0

.space-bottom
  padding: 0 0 12px

.half-space
  padding: 6px 0 0

label
  clear: both
  display: block
  line-height: 1em
  margin-bottom: 0
  margin-top: 3px

label span.req
  color: red

label.for-checkbox, label.for-select
  float: left

label.for-checkbox
  width: 205px

label.for-select
  width: 150px

input
  display: block
  line-height: 1.2em
  margin-bottom: 0
  margin-top: 3px

input.checkbox
  float: left
  width: auto

input.submit
  float: left
  margin: -1px 0.75em 0 0

input.text-long
  width: 267px

#page, #footer
  margin: 0 auto
  padding: 0 115px 12px
  position: relative
  width: 670px

#page
  padding-bottom: 0

#app-name
  background: transparent url(/images/logo.png) no-repeat left top
  display: block
  height: 116px
  margin: 0 0 40px -10px
  padding: 12px 0
  text-indent: -9999px
  width: 690px
  &:active
    outline: 0

#content
  font-size: 0.95em

#menu
  background: $menu_colour
  border: $border_colour 1px solid
  border-left: none
  border-right: none
  left: 0
  position: absolute
  height: 22px
  padding: 6px 0 0
  top: 140px
  width: 100%
  z-index: 100
  ul
    margin-left: auto
    margin-right: auto
    max-width: 750px
  li
    display: inline
    list-style: none
    margin: 0
    a.menu-item, span.menu-item
      background: $menu_colour
      color: #fff
      display: inline
      float: left
      height: 20px
      list-style: none
      margin: -2px 0 0
      padding: 3px 8px 5px
      text-align: center
      text-decoration: none
      text-shadow: $background_colour - #111111 0px 0px 9px
      width: auto
    a
      outline: 0
      &:hover, &:focus
        background: $menu_colour - #333333
      &:active
        background: $menu_colour + #111111

.notice
  border: 2px solid
  font-weight: bold
  margin: 0 auto 10px
  padding: 5px
  text-align: center
  text-shadow: none
  width: 90%
  p, ul
    margin: 0 auto
    padding: 0 12px
  li
    font-size: 0.9em
    text-align: left
  a
    color: #000 !important
    text-shadow: none !important
    &:hover, &:focus
      background: #fff

#user-info
  float: left
  position: relative
  left: 30%
  a
    color: #fff
    &:hover, &:focus
      background: transparent !important
      text-decoration: none
      text-shadow: none

#error
  background: $error_colour + #111111
  border-color: $error_colour - #666666
  color: $error_colour - #666666

#alert
  background: $alert_colour + #111111
  border-color: $alert_colour - #666666
  color: $alert_colour - #999999

#notice
  background: $notice_colour + #111111
  border-color: $notice_colour - #666666
  color: $notice_colour - #666666

#user_api_key
  padding: 2px 2px 2px 4px
  width: 280px

#home-screenshot
  float: right
  margin: 2px

#signup-button
  background: url("http://static.preyfetcher.com/images/signin-twitter-new.png") no-repeat center !important
  display: block
  height: 24px
  margin: 0 0 0 auto
  text-indent: -9999px
  width: 151px

#footer
  border-top: $border_colour 1px solid
  clear: both
  font-size: 0.75em
  margin: 72px 0 -30px -10px
  opacity: 0.95
  padding: 6px 0
  width: 690px
  p, ul, dl, ol
    margin-left: 10px

#pledgie-link
  float: right
  margin: 0 10px 0 0
