$body_background_colour: #aaa
$background_colour: #999999
$text_colour: #030303
$link_colour: #2e6299

$border_colour: #030303
$header_colour: #712121
$menu_colour: #444

$error_colour: #f2a2a2
$alert_colour: #f2d7a2
$notice_colour: #a8f2a2

$preyf_colour: #7a1515

$page_width: 670px

// Remember to add http://static.preyfetcher.com to url()s come release time!

body
  background: $header_colour url(/images/page-bg.png) repeat-x top
  color: $text_colour
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
  font-size: 1.1em
  line-height: 1.6em

a
  color: $link_colour
  text-decoration: underline
  text-shadow: $body_background_colour 1px 1px 6px
  &:hover, &:focus
    color: $link_colour + #222222
    text-decoration: none
    text-shadow: $background_colour + #222222 1px 1px 6px

strong
  font-weight: bold

em
  font-style: italic
  &.underline
    border-bottom: 1px dashed
    font-style: normal
    text-decoration: none

span.ampersand
  font-family: "Kunstler Script", "Lucida Calligraphy", "Lucida Handwriting", cursive
  font-size: 1.2em
  font-style: italic

h1, h2, h3, h4, h5, h6
  border-bottom: $border_colour 1px solid
  color: $header_colour
  font-family: Helvetica, Arial, sans-serif
  font-size: 1.5em
  margin: 0 0 0.5em
  text-shadow: $background_colour 0 0 5px

h1
  font-size: 1.75em
  margin: 0 0 .25em
  text-align: center

h2, h3, h4, h5, h6
  margin: 0.75em 0
  span.numbered-header
    color: $text_colour
    font-size: 0.8em

p, ul, ol, dl, label, input, table
  line-height: 1.3em
  margin: 0.25em 160px 1.5em 24px

ul
  margin-left: 1.5em

li
  list-style: square inside
  margin: 0

dt
  clear: both
  float: left
  font-weight: bold
  margin: 0 1em 0 0
  width: 150px

p.quote, blockquote
  background: url(/images/hanging-quotes.png) right top no-repeat

blockquote, q
  color: $text_colour + #232323
  font-style: italic

cite
  font-style: normal

#intro-list
  margin-top: -5px
  li
    margin-top: 0.25em
    span
      display: block
      margin: 2px 0 0 0.9em

.no-bullet
  list-style: none outside !important

.block
  display: block

.clear
  clear: both

.hide, body.js .js-hide
  display: none

ul.smaller
  margin-top: -0.75em

.smaller
  font-size: 0.9em

.space
  padding: 12px 0 0

.space-bottom
  padding: 0 0 12px

.half-space
  padding: 6px 0 0

.justify
  text-align: justify

.box-shadow
  box-shadow: 3px 3px 6px #000
  -moz-box-shadow: 3px 3px 6px #000
  -webkit-box-shadow: 3px 3px 6px #000

.box-shadow-soft
  box-shadow: 0 1px 6px #ccc
  -moz-box-shadow: 0 1px 6px #ccc
  -webkit-box-shadow: 0 1px 6px #ccc

.button
  background: rgba(242, 242, 242, 0.9) url(/images/button-bg.png) bottom repeat-x
  border: 1px solid $border_colour + #555
  border-radius: 10px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  color: #444
  cursor: pointer
  font-size: 1.2em
  font-weight: bold
  margin: 7px 0
  padding: 7px 15px
  text-decoration: none
  text-shadow: 0 1px 0 #fff

//.button-green
//  background-color: rgba(202, 242, 202, 0.9)

label
  clear: both
  display: block
  line-height: 1em
  margin-bottom: 0
  margin-top: 3px

label span.req
  color: red

label.for-checkbox, label.for-select
  float: left

label.for-checkbox
  width: 205px

label.for-select
  width: 150px

input
  display: block
  line-height: 1.2em
  margin-bottom: 0
  margin-top: 3px

input.checkbox
  float: left
  width: auto

input.submit
  float: left
  margin: -1px 0.75em 0 0

input.text-long
  width: 267px

#container
  background: $body_background_colour

#page
  margin: 0 auto
  padding: 10px 115px 0
  position: relative
  width: $page_width

#app-name
  background: transparent url(/images/logo.png) no-repeat left top
  display: block
  height: 116px
  margin: 0 auto 30px
  padding: 12px 0
  position: relative
  text-indent: -9999px
  width: $page_width + 20px
  &:active
    outline: 0
body.homepage #app-name
  margin-bottom: 0
body.homepage #header
  border-bottom: $border_colour 1px solid

#content
  font-size: 0.95em

#menu
  background: $menu_colour
  border: $border_colour 1px solid
  border-left: none
  border-right: none
  left: 0
  position: absolute
  height: 22px
  padding: 6px 0 0
  top: 140px
  width: 100%
  z-index: 100
  ul
    margin: -4px auto 0
    width: 650px
    li
      display: inline
      list-style: none
      margin: 0
      a.menu-item, span.menu-item
        background: $menu_colour
        color: #fff
        display: inline
        float: left
        height: 20px
        list-style: none
        margin: -2px 0 0
        padding: 3px 8px 5px
        text-align: center
        text-decoration: none
        text-shadow: $background_colour - #111111 0px 0px 9px
        width: auto
        z-index: 50
      a
        outline: 0
        &:hover, &:focus
          background: $menu_colour - #333333
        &:active
          background: $menu_colour + #111111
    #user-info
      float: right
      a
        color: #fff
        &:hover, &:focus
          background: transparent !important
          text-decoration: none
          text-shadow: none
body.homepage #menu
  display: none

.notice
  border: 2px solid
  font-weight: bold
  margin: 0 auto 10px
  padding: 5px
  text-align: center
  text-shadow: none
  width: 90%
  p, ul
    margin: 0 auto
    padding: 0 12px
  li
    font-size: 0.9em
    text-align: left
  a
    color: #000 !important
    text-shadow: none !important
    &:hover, &:focus
      background: #fff

#error
  background: $error_colour + #111111
  border-color: $error_colour - #666666
  color: $error_colour - #666666

#alert
  background: $alert_colour + #111111
  border-color: $alert_colour - #666666
  color: $alert_colour - #999999

#notice
  background: $notice_colour + #111111
  border-color: $notice_colour - #666666
  color: $notice_colour - #666666

#user_api_key
  padding: 2px 2px 2px 4px
  width: 280px

#home-screenshot
  float: right
  margin: 2px

#signup-button
  background: url("http://static.preyfetcher.com/images/signin-twitter-new.png") no-repeat center !important
  display: block
  height: 24px
  margin: 0 0 0 auto
  text-indent: -9999px
  width: 151px

#footer
  background: $header_colour
  border-top: $border_colour 1px solid
  clear: both
  color: #999
  font-size: 0.75em
  margin: -25px 0 0
  padding: 6px 0
  width: auto
  text-shadow: .1em .1em 3px $header_colour - #fff
  a
    color: #bbb
    text-decoration: underline
    text-shadow: .1em .1em 3px $header_colour - #fff
    &:hover, &:focus
      text-decoration: none
  p, ul, dl, ol
    margin-left: 10px
  &-inner
    margin: 0 auto
    width: $page_width + 20px
  *:last-child
    margin-bottom: 0

#pledgie-link
  float: right
  margin: 0 20px 0 0

/** Homepage */

#homepage-intro
  h2
    line-height: 1.1em
    font-size: 1.1em
    margin: .75em 0 .25em
  p
    margin: 0 0 1em
    &.small
      font-size: .9em
    &.quote
      background-position: 300px 0

#homepage-iphone
  float: right
  margin: 0 0 0 40px
