<p>Prey Fetcher is a <strong>free <span class="ampersand">&amp;</span> <a href="http://github.com/tofumatt/Prey-Fetcher">open source</a></strong> service that <strong>automatically sends <em class="underline">tweets</em>, new <em class="underline">mentions</em>, and <em class="underline"><abbr title="Direct Messages">DMs</abbr></em> to your iPhone</strong> running <a href="http://prowl.weks.net/">Prowl</a>.</p>

<p><a href="/">Learn more about Prey Fetcher…</a></p>
