<p>Prey Fetcher is a <em>free <span class="ampersand">&amp;</span> <a href="http://github.com/tofumatt/Prey-Fetcher">open source</a></em> service that <strong>instantly</strong> pushes new <em class="underline">mentions</em> <span class="ampersand">&amp;</span> <em class="underline"><abbr title="Direct Messages">DMs</abbr></em> to your iPhone. To sign up, you'll need:</p>

<ul>
	<li>A <a href="http://twitter.com/">Twitter account</a></li>
	<li>An <strong>iPhone</strong>, <strong>iPod Touch</strong>, or <strong>iPad</strong> (OS 3.0+)</li>
	<li>The <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=320876271&amp;mt=8">Prowl App</a> and your <a href="https://prowl.weks.net/settings.php">Prowl API Key</a></li>
</ul>

<h2>Feature Rundown</h2>

<ul>
  <li>Instant notification of mentions, retweets, and direct messages</li>
  <li>Notification when a list you follow has new tweets</li>
  <li>Pick and choose which notifications to receive</li>
  <li>Set priority levels for each notification type</li>
</ul>

<h3>What does Prey Fetcher do?</h3>

<p>Prey Fetcher connects to realtime data provided by <a href="http://twitter.com">Twitter</a> to notify you of new mentions, retweets, and direct messages. Prey Fetcher also lets you know whenever a new tweet appears in a list you create. You can use any of these features in any combination you like, all for free.</p>

<h3>Why Is Prey Fetcher Free?</h3>

<p>Because <a href="http://lonelyvegan.com">Matt</a> really wanted to get notified of new tweets on his iPhone. He figured he might as well make it free for anyone in the same boat.</p>

<p>Prey Fetcher has been around since August 2009 — and it shouldn't be going anywhere as long as tweets still need to make it to people's iPhones.</p>
