<p>Prey Fetcher is a <em>free <span class="ampersand">&amp;</span> <a href="http://github.com/tofumatt/Prey-Fetcher">open source</a></em> service that <strong>instantly</strong> pushes new <em class="underline">mentions</em> <span class="ampersand">&amp;</span> <em class="underline"><abbr title="Direct Messages">DMs</abbr></em> to your iPhone. To sign up, you'll need:</p>

<ul>
	<li>A <a href="http://twitter.com/">Twitter account</a></li>
	<li>An <strong>iPhone</strong>, <strong>iPod Touch</strong>, or <strong>iPad</strong> (OS 3.0+)</li>
	<li>The <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=320876271&amp;mt=8">Prowl App</a></li>
</ul>

<h2>Feature Rundown</h2>

<ul>
  <li>Instant notification of mentions, retweets, and direct messages</li>
  <li>Notification when a list you follow has new tweets</li>
  <li>Pick and choose which notifications to receive</li>
  <li>Set priority levels for each notification type</li>
  <li>Totally free, even for multiple accounts</li>
</ul>

<h3>Open tweets in your favourite Twitter app</h3>

<p>You can use Prowl Redirections to open your Tweets in an iPhone Twitter client instead of Prowl.</p>

<p>Use the app name "Prey Fetcher" to redirect all notifications from Prey Fetcher to <a href="http://forums.cocoaforge.com/viewtopic.php?f=45&amp;t=20704">any app Prowl supports</a>. You can also use "Prey Fetcher DM" specifically for DM notifications or "Prey Fetcher mention" for mentions — in case, for example, you only want DMs to open your Twitter app.</p>

<h3>Multiple Twitter Accounts? No problem!</h3>

<p>You can use Prey Fetcher for as many Twitter accounts as you like. Just open the account switcher by clicking on your Twitter username in the menu.</p>
