<div id="homepage-intro">
  <p class="center">Prey Fetcher <strong>instantly</strong> pushes Twitter to your iPhone.</p>
  
  <img src="<%= asset "images/screenshot-iphone4-small.png" %>" alt="Screenshot of a Prey Fetcher mention in a modal notification dialog on an iPhone 4." id="homepage-iphone">
  
  <h2>Get Notified:</h2>
  
  <p>Whenever someone sends you a <strong>direct message</strong>, <strong>mentions</strong> you, <strong>retweets</strong> your tweets, and <em class="underline">more</em>.</p>
  
  <ul>
    <li>Choose your notification types</li>
    <li>Link multiple accounts</li>
    <li>Open tweets in your favourite app</li>
    <li>Set quiet hours</li>
  </ul>
  
  <p>Prey Fetcher lets you watch lists and find out when you're favourited. <strong>Cool.</strong></p>
  
  <p>All you need to get started is the<br> <a href="http://itunes.apple.com/app/prowl-growl-client/id320876271">Prowl iOS app</a> and a Twitter account.</p>
  
  <a href="/login" id="signup-button" class="button button-green box-shadow-blur"><span>Sign In with Twitter</span></a>
  
  <!--
  <div style="margin: 8px 0 8px 14px; text-align: center;">OR</div>
  
  <a href="/features" class="button button-green box-shadow-blur" style="margin-left: 77px;">Learn More</a>
  -->
  
  <!--
  <h2 style="margin-top: 21px;">Twitter Addicts Love Prey Fetcher</h2>
  
  <p class="small quote">“<q>Using Prowl &amp; Prey Fetcher my iPhone instantly vibes when I'm mentioned. Twitter just got more fun!</q>” — <cite><a href="http://twitter.com/mmmaatt/status/9339294332">@mmmaatt</a></cite></p>
  -->
</div>

<div class="clear"></div>
