<img src="<%= asset "images/homepage-iphone-3g.png" %>" alt="Screenshot of a Prey Fetcher mention in a modal notification dialog on an iPhone, display the message 'From @tofumatt OH HAI @preyfetcher, I OPEN-SOURCED UR TWITTER APP!'" id="homepage-iphone" />

<div id="homepage-intro">
  <p class="justify">Prey Fetcher <strong>instantly</strong> pushes Twitter to your iPhone.</p>
  
  <h2>Get Notified Whenever:</h2>
  
  <ul>
    <li class="even">new tweets appear <strong>in a list</strong></li>
    <li class="odd">someone <strong>mentions</strong> you</li>
    <li class="even">someone <strong>retweets</strong> you</li>
    <li class="odd">you get a <strong>direct message</strong></li>
  </ul>
  
  <p class="justify">All you need to get started is the <a href="http://itunes.apple.com/app/prowl-growl-client/id320876271">Prowl iOS app</a> and a Twitter account.</p>
  
  <a href="/login" class="button button-green box-shadow-soft" style="margin-left: 40px;">Sign In with Twitter</a>
  
  <div style="margin: .75em 0 .75em 14px; text-align: center;">OR</div>
  
  <a href="/features" class="button button-green box-shadow-soft" style="margin-left: 77px;">Learn More</a>
  
  <h2>Twitter Addicts Love Prey Fetcher</h2>
  
  <p class="small quote">“<q>Using Prowl &amp; Prey Fetcher my iPhone instantly vibes when I'm mentioned. Twitter just got more fun!</q>” — <cite><a href="http://twitter.com/mmmaatt/status/9339294332">@mmmaatt</a></cite></p>
</div>

<div class="clear"></div>
