<div id="homepage-intro">
  <p class="center">Prey Fetcher <strong>instantly</strong> pushes Twitter to your iPhone.</p>
  
  <img src="<%= asset "images/screenshot-iphone4-small.png" %>" alt="Screenshot of a Prey Fetcher mention in a modal notification dialog on an iPhone 4." id="homepage-iphone">
  
  <h2>Get Notified</h2>
  
  <p>Whenever someone sends you a <strong>direct message</strong>, <strong>mentions</strong> you, <strong>retweets</strong> your tweets, and <em class="underline">more</em>.</p>
  
  <ul>
    <li>Choose your notification types</li>
    <li>Link multiple accounts</li>
    <li>Open tweets in your favourite app</li>
    <li>Set quiet hours in Prowl</li>
  </ul>
  
  <p>Prey Fetcher even lets you watch lists and know when your tweets are starred. <em>Cool.</em></p>
  
  <p>All you need to get started is the<br> <a href="http://itunes.apple.com/app/prowl-growl-client/id320876271">Prowl iOS app</a> and a Twitter account.</p>
  
  <a href="/login" id="signup-button" class="button button-green box-shadow-blur"><span>Sign In with Twitter</span></a>
</div>

<div class="clear"></div>
