<p>Prey Fetcher is a stable, open source project under active development. You can see the <a href="http://github.com/tofumatt/Prey-Fetcher/commits">entire changelog on GitHub</a>.</p>

<h3>Commits and Info</h3>

<p>Prey Fetcher's <a href="http://github.com/tofumatt/Prey-Fetcher/commits">entire commit history</a>, <a href="http://github.com/tofumatt/Prey-Fetcher/issues">issue tracker</a>, and <a href="http://github.com/tofumatt/Prey-Fetcher">source code</a> is available on GitHub.</p>

<p>Wanna add a feature? Please <a href="http://github.com/tofumatt/Prey-Fetcher/fork">fork the project</a> and let me know about it -- I'm happy to accept new features from the community!</p>
