<p>Prey Fetcher is a stable, open source project under active development. You can see the <a href="http://github.com/tofumatt/Prey-Fetcher/commits">entire changelog on GitHub</a>.</p>

<p><a href="http://fosspass.org/license/mit?author=Matthew+Riley+MacPherson&amp;year=2010">Prey Fetcher is MIT-licensed</a>. <a href="http://github.com/tofumatt/Prey-Fetcher/tree/3.3">Previous versions were licensed under the AGPL 3.0 License</a> — that license still applies to earlier versions, but I have relicensed version 4.0 onwards to be MIT-licensed.<br />Feel free to <a href="mailto:matt@lonelyvegan.com">contact me</a> if you have any questions or concerns about Prey Fetcher's license.</p>

<h3>Commits and Info</h3>

<p>Prey Fetcher's <a href="http://github.com/tofumatt/Prey-Fetcher/commits">entire commit history</a>, <a href="http://github.com/tofumatt/Prey-Fetcher/issues">issue tracker</a>, and <a href="http://github.com/tofumatt/Prey-Fetcher">source code</a> is available on GitHub.</p>

<p>Wanna add a feature? Please <a href="http://github.com/tofumatt/Prey-Fetcher/fork">fork the project</a> and let me know about it -- I'm happy to accept new features from the community!</p>
