<p>Prey Fetcher is a legitimately free and no-strings-attached service. I offer it to other users because I find it useful; there's no ulterior motives or tweet analytics happening here.</p>
  
<p>If you want to see what data I store, feel free to <a href="http://github.com/tofumatt/Prey-Fetcher/">check out the master branch on GitHub</a> — whatever's there is what's running in production.</p>

<h3><span class="numbered-header">1.</span> No Tweets Are Permanently Stored</h3>

<p>Prey Fetcher sends notification text directly to the Prowl server, then deletes it. No one reads your direct messages, tweets, or other sensitive info. Your email address is never stored.</p>

<h3><span class="numbered-header">2.</span> Nothing But Tweets</h3>

<p>Prey Fetcher will only deliver push notifications relating to new tweets/direct messages. If you see a notification marked "Prey Fetcher" that isn't related to a new mention, retweet, direct message, or list tweet, please <a href="mailto:matt@lonelyvegan.com">let me know</a>.</p>

<h3><span class="numbered-header">3.</span> Google Analytics</h3>

<p>This site does use Google Analytics to anonymously collect site usage data in aggregate. You are never personally identified and you can freely delete/ignore the Google Analytics cookies to prevent usage data from being collected.</p>
