<p id="error" class="notice">Another site has attempted to access or change your Prey Fetcher account!</p>

<p>You're here because another application or web site attempted to interact with Prey Fetcher and your account. Don't worry &mdash; we stopped the attempt; <em>your account and data is safe.</em></p>

<p style="margin-right: 0;">We've been notified of the error and will investigate this issue.</p>

<%= render :partial => 'shared/error_plug' %>
