span.ampersand
  font-family: "Lucida Calligraphy", "Lucida Handwriting", Times, "Times New Roman" Verdana, Helvetica, Arial, sans-serif
  font-size: 1.2em
  font-style: italic
  margin: -3px 0 0

label.for-checkbox
  width: 200px

#home-screenshot
  display: inline-block

#content
  padding-bottom: 72px

table#commits tbody
  
  tr
    position: relative
  
  td
    padding-bottom: 2.5em
  
  td.message
    position: absolute
    top: 2em
