<%= image_tag 'screenshot.jpg', :alt => "Screenshot of Prey Fetcher mention on iPhone", :id => "home-screenshot" %>

<p>Prey Fetcher is a <em>free <span class="ampersand">&amp;</span> <a href="http://github.com/tofumatt/Prey-Fetcher">open source</a></em> service that pushes new <em class="underline">mentions</em> <span class="ampersand">&amp;</span> <em class="underline"><abbr title="Direct Messages">DMs</abbr></em> to your iPhone. To sign up, you'll need:</p>

<ul>
	<li>A <a href="http://twitter.com/">Twitter account</a></li>
	<li>An <strong>iPhone</strong>, <strong>iPod Touch</strong>, or <strong>iPad</strong> (OS 3.0+)</li>
	<li>The <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=320876271&amp;mt=8">Prowl App</a> and your <a href="https://prowl.weks.net/settings.php">Prowl API Key</a></li>
</ul>

<p style="margin-right: 0;">Know when you get mentioned on Twitter <em>wherever you are</em> with Prey Fetcher.</p>

<h3>Why Prey Fetcher?</h3>

<ul id="intro-list">
	<li><strong>Keeps you up-to-date</strong><br /> <span>automatically checks for new <em>DMs and mentions</em></span></li>
	<li><strong>Respects your privacy</strong><br /> <span>no sketchy tweets sent from your account</span></li>
	<li><strong>Secure</strong><br /> <span>you don't have to supply your password</span></li>
	<li><strong>Stupid simple</strong><br /> <span>sign in, select your options: you're done!</span></li>
	<li><strong>Open source</strong><br /> <span>add your own features and see the source for yourself</span></li>
</ul>

<p><%= link_to 'Sign in for free with your Twitter account', 'login' %> &mdash; Prey Fetcher doesn't ask for your password and will <em>never send out tweets from your account</em>.</p>

<h3>Get Updates via Twitter</h3>

<p>Follow <a href="http://twitter.com/preyfetcher"><span class="smaller">@</span>preyfetcher</a> on Twitter to get updates about Prey Fetcher, or to report any issues.</p>