<p>This isn't a fancy-pants, legalize privacy policy — I hate reading them and wouldn't know how to write one anyway. If you like, you can think of it as a <em>privacy promise</em>.</p>

<p>Basically, we're not gonna be evil. Here's how, exactly:</p>

<h3><span class="numbered-header">1.</span> No Tweets Are Permanently Stored</h3>

<p>Prey Fetcher sends notification text directly to the Prowl server, then deletes it. We never read your direct messages, tweets, or other sensitive info, and we don't save them on our servers.</p>

<h3><span class="numbered-header">2.</span> No Using Your Personal Info, Ever</h3>

<p>The Prey Fetcher database contains Prowl/Twitter credentials of its users. This information is never released or sold to anyone and is not used for any dirty, spam-y, marketing ploy by us or anyone else. We hate spam too.</p>

<h3><span class="numbered-header">3.</span> Nothing But Tweets</h3>

<p>Just so we're clear, we only send tweet notifications to your iPhone. Nothing else. Prey Fetcher will not badger you about new features, new services from <a href="http://lonelyvegan.com">Matt</a>, or anything else via Prowl. If you wanna stay in the loop for that sort of thing, follow <a href="http://twitter.com/preyfetcher">@preyfetcher</a>.</p>

<h3><span class="numbered-header">4.</span> Google Analytics</h3>

<p>This site does use Google Analytics to anonymously collect site usage data in aggregate. You are never personally identified and you can freely delete/ignore the Google Analytics cookies to prevent usage data from being collected.</p>

<h3><span class="numbered-header">5.</span> Other Cookies</h3>

<p>A cookie is stored on your computer to identify/verify you so you can make changes to your Prey Fetcher account.</p>