body {
  background: #c2c4cc url("http://static.preyfetcher.com/images/page-bg.png") repeat-x top;
  color: #030303;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 1em; }

a {
  color: #2e6299;
  text-decoration: underline;
  text-shadow: none; }
  a:hover, a:focus {
    color: #5084bb;
    text-decoration: none;
    text-shadow: #bbbbbb 1px 1px 6px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }
  em.underline {
    border-bottom: 1px dashed;
    font-style: normal; }

span.ampersand {
  font-family: "Kunstler Script", "Lucida Calligraphy", "Lucida Handwriting", cursive;
  font-size: 1.2em;
  font-style: italic; }

h2, h3, h4, h5, h6 {
  border-bottom: #030303 1px solid;
  color: #214871;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 0 0 0.5em;
  text-shadow: #999999 0 0 5px; }

h2 {
  font-size: 1.75em; }

h3, h4, h5, h6 {
  margin: 0.75em 0; }
  h3 span.numbered-header, h4 span.numbered-header, h5 span.numbered-header, h6 span.numbered-header {
    color: #030303;
    font-size: 0.8em; }

p, ul, ol, dl, label, input, table {
  line-height: 1.3em;
  margin: 0.25em 160px 1.5em 24px; }

ul {
  margin-left: 48px;
  margin-top: -0.25em; }

li {
  list-style: square inside;
  margin: 0; }

dt {
  clear: both;
  float: left;
  font-weight: bold;
  margin: 0 1em 0 0;
  width: 150px; }

#intro-list {
  margin-top: -5px; }
  #intro-list li {
    margin-top: 0.25em; }
    #intro-list li span {
      display: block;
      margin: 2px 0 0 0.9em; }

.no-bullet {
  list-style: none outside !important; }

.block {
  display: block; }

.clear {
  clear: both; }

.hide, body.js .js-hide {
  display: none; }

ul.smaller {
  margin-top: -0.75em; }

.smaller {
  font-size: 0.9em; }

.space {
  padding: 12px 0 0; }

.space-bottom {
  padding: 0 0 12px; }

.half-space {
  padding: 6px 0 0; }

label {
  clear: both;
  display: block;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 3px; }

label span.req {
  color: red; }

label.for-checkbox, label.for-select {
  float: left; }

label.for-checkbox {
  width: 205px; }

label.for-select {
  width: 150px; }

input {
  display: block;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 3px; }

input.checkbox {
  float: left;
  width: auto; }

input.submit {
  float: left;
  margin: -1px 0.75em 0 0; }

input.text-long {
  width: 267px; }

table {
  margin-right: 24px; }

table#commits {
  width: 100%; }
  table#commits th {
    font-size: 1.2em;
    font-weight: bold; }
  table#commits td {
    font-size: 0.85em; }
  table#commits th, table#commits td {
    display: block;
    float: left;
    margin: 5px; }
  table#commits .authorname {
    width: 55%; }
  table#commits .datetime {
    width: 35%; }
  table#commits th.message {
    display: none; }
  table#commits .message {
    clear: both;
    display: block;
    float: none;
    padding: 0 5px 0 20px; }

#page, #footer {
  margin: 0 auto;
  padding: 0 115px 12px;
  position: relative;
  width: 670px; }

#page {
  padding-bottom: 0; }

#app-name {
  background: transparent url("http://static.preyfetcher.com/images/logo.png") no-repeat left top;
  display: block;
  height: 116px;
  margin: 0 0 40px -10px;
  padding: 12px 0;
  text-indent: -9999px;
  width: 690px; }

#content {
  font-size: 0.95em; }

#menu {
  background: #708fa1;
  border: #030303 1px solid;
  border-left: none;
  border-right: none;
  left: 0;
  position: absolute;
  height: 22px;
  padding: 6px 0 0;
  top: 140px;
  width: 100%;
  z-index: 100; }
  #menu ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px; }
  #menu li {
    display: inline;
    list-style: none;
    margin: 0; }
    #menu li a.menu-item, #menu li span.menu-item {
      background: #708fa1;
      color: white;
      display: inline;
      float: left;
      height: 20px;
      list-style: none;
      margin: -2px 0 0;
      padding: 3px 8px 5px;
      text-align: center;
      text-decoration: none;
      text-shadow: #888888 0px 0px 9px;
      width: auto; }
    #menu li a:hover, #menu li a:focus {
      background: #3d5c6e; }

.notice {
  border: 2px solid;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  width: 90%; }
  .notice p, .notice ul {
    margin: 0 auto;
    padding: 0 12px; }
  .notice li {
    font-size: 0.9em;
    text-align: left; }
  .notice a {
    color: black !important;
    text-shadow: none !important; }
    .notice a:hover, .notice a:focus {
      background: white; }

#user-info {
  float: left;
  position: relative;
  left: 30%; }
  #user-info a:hover, #user-info a:focus {
    background: silver !important; }

#error {
  background: #ffb3b3;
  border-color: #8c3c3c;
  color: #8c3c3c; }

#alert {
  background: #ffe8b3;
  border-color: #8c713c;
  color: #593e09; }

#notice {
  background: #b9ffb3;
  border-color: #428c3c;
  color: #428c3c; }

#user_api_key {
  padding: 2px 2px 2px 4px;
  width: 280px; }

#home-screenshot {
  float: right;
  margin: 2px; }

#signup-button {
  background: url("http://static.preyfetcher.com/images/signin-twitter-new.png") no-repeat center !important;
  display: block;
  height: 24px;
  margin: 0 0 0 auto;
  text-indent: -9999px;
  width: 151px; }

#footer {
  border-top: #030303 1px solid;
  clear: both;
  font-size: 0.75em;
  margin: 72px 0 -30px -10px;
  opacity: 0.95;
  padding: 6px 0;
  width: 690px; }
  #footer p, #footer ul, #footer dl, #footer ol {
    margin-left: 10px; }
