<p>Prey Fetcher is a <em>free</em> service that automatically <strong>sends your <em class="underline">@mentions</em> <span class="ampersand">&amp;</span> <em class="underline">DMs</em> from Twitter to your iPhone or iPod Touch</strong> running <a href="http://prowl.weks.net/">Prowl</a>.</p>

<p><a href="/">Learn more about Prey Fetcher…</a></p>