<p id="error" class="notice">Oops -- something went wrong on our end!<br /> Try reloading the page, or <a href="/">heading to the home page</a>. Sorry!</p>

<p>We've been notified of the error and we'll get to fixing it as quickly as possible!</p>

<%= render :partial => 'shared/error_plug' %>
